.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-parent {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  .flex-child {
    width: 50%;
    display: flex;

    .inner-div {
      padding: 50px;
      width: 100%;
      border: solid 1px;
    }
  }

  &:first-child {
    .flex-child {
      .inner-div {
        margin-right: 5px;
      }
    }
  }

  :nth-child(2) {
    .flex-child {
      .inner-div {
        margin-left: 5px;
      }
    }
  }
}

.info {
  width: 800px;
  margin: 20px auto;
  text-align: left;
}


