.profile-form {
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 0;
  }

  input {
    margin-bottom: 20px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
  }

  button {
    background-color: transparent;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
  }
}